#menu li:hover{
    background-color: #1C1C1C;
}

#menu a:hover{
    color: #A52A2A;
}

#menu li{
    border: 1px solid #000000;
    background-color: #000000;
    display: inline-block;
    float: center;
}

#menu li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 15px;
}

.inicio{
    display: table;
}

.nome h1{
    margin: 0;
    padding: 0;
    font-family:Century Gothic, sans-serif;
    font-size: 40px;
    text-indent: 20px;
    float: right;
}

/* Estilo Navegador */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 30px;
}

.logo{
    font-family: Arial;
    color: #000000;
    font-size: 22px;
}

.active{
    font-weight: bold;
    color: #2d2a2a;
}