body{
	background-color: #f6f5f5;
	margin-right: 0px;
	padding: 0px;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

h1{
	text-align: left;
	color: #000000;
}

p{
	font-family: Arial;
            font-size: 22px;
            font-weight: ;
            color: #000000;
         }
}

