body{
	background-color: #f6f5f5;
	margin-right: 0px;
	padding: 0px;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

h1{
	text-align: left;
	color: #000000;
}

p{
	font-family: Arial;
            font-size: 22px;
            font-weight: ;
            color: #000000;
         }

/* Estilo Textos */

.conteudo-texto p:nth-child(1){
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
}

.conteudo-texto p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #000;
	font-size: 60px;
}

.conteudo-texto p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
}

.conteudo-texto{
	line-height: 0px;
	margin: 45px 0px 25px;
}

.conteudo-texto{
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%,-42%);
}

.conteudo-texto button{
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}