:root{
  --siteBackgroundColor: lightgreen;
  --sitetext-align:  center;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--siteBackgroundColor);
}

.containerImagem{
    text-align: var(--sitetext-align);
    float: left;
}

.Div2{
    font-size: 20px;
    width: 100%;
    min-width: 250;
    display: inline-block;
    vertical-align: top;
}

img{
   text-align: var(--sitetext-align);
}
 /*altera a cor da div do menu principal*/
.principal{
    width: 900px;
    height: 0 auto;
    box-shadow: 0px 5px 10px black;
}

table{
    background-color: #E9967A;
    float: left;
}