#Começo{
    text-align: center;
}

.Preparo{
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
}

.Ingredientes{
    text-align: var(--sitetext-align);
    text-decoration: underline;
    font-family: sans-serif;
}

/*mudar a cor dos titulos pra encaixar com o menu*/
 h1,h2, h3{
        color: crimson;
         }
         li, ul, ol, p{
            font-family: calibri;
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
            color: black;
         }

p{
    margin-bottom: 0;
}

h2{
    font-size: 25px;
}

.doces{
    text-align: var(--sitetext-align);
}

.salgados{
    text-align: var(--sitetext-align);
}

.index{
    text-align: var(--sitetext-align);
}         

.introducao{
    font-style: unset;
    font-weight: bolder;
}

td{
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
    font-style: italic;
    color: #4B0082;
}

.tabela{
    background-color: #FF6347;
}

.links{
    text-decoration: unset;
}

/*td:hover{
    background-color: #A52A2A;
}
*/